<div class="card-edit-page motion-left">
    <h1>Editing Article</h1>

    <%= render 'form', article: @article %>

    <%= button_to 'Show', @article, class: "btn-show", method: :get %>
    <%= button_to 'Back', articles_path, class: "btn-back", method: :get %>
</div>