<div class="card-new-page motion-left">
    <h1 class="white-color">New Article</h1>

    <%= render 'form', article: @article %> 

    <%= button_to 'Back', articles_path, class: "btn-back", method: :get %>
</div>