<footer class="card-footer motion-left">
  <p>
    <a href="#">up</a>
  </p>
  <p>my GitHub:  <a href="https://github.com/Mark228zzz", target="_blank"><i class='bx bxl-github'></i></p></a>
  <p>from 2021 to <%= Time.now.year %></p>
</footer>